
// ----------------------------------------
// Start: Variables Styles
// ----------------------------------------
:root {
    --color-white    : #fff;
    --color-dark     : #000;
    --color-primary  : #2B32B2;

    --btn-primary-active: #2B32B2;
    --btn-secondary: #414141;

    --header-border : #E4DACE;

    --sidebar-bg: #0d0e12;
    --sidebar-menu-title: #636674;
    --sidebar-menu-icon: #464852;
    --sidebar-menu-label: #9a9cae;
    --sidebar-menu-active-item: #1c1c21;

    --sw-title: #99A1B7;
}
